<div fxLayoutAlign="center" class="mt-75">
    <mat-form-field>
        <input matInput type="text" placeholder="Nombre de la Rutina" [value]="title" (input)="title = $event.target.value">
    </mat-form-field>
</div>
<div fxLayoutAlign="center" class="mt-2">
    <button mat-raised-button [disabled]="false" color="primary">Crear rutina</button>
</div>
<div fxLayoutAlign="space-around" class="my-2">
    <button mat-raised-button [disabled]="false" color="primary">Añadir ejercicio</button>
    <button mat-raised-button [disabled]="false" color="accent">Guardar rutina</button>
</div>